body {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(30% - 400px);
    padding-right: calc(30% - 400px);
}

.header__nav {
    background: rgb(45, 45, 45);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 40px 40px;
}

.header__img {
    padding-left: 70px;
}

.header__box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
}

.header__box-link {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.header__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding-right: 30px;
}

.header__contact-number {
    /* H3 */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
}

.Leadgeneration__img {
    background-image: url(img/Star\ 2\ \(2\).svg), url(img/Star\ 1\ \(1\).svg);
    background-repeat: no-repeat no-repeat;
    background-position-x: 730px, -5px;
    background-position-y: 90px, 350px;
}

.Leadgeneration {
    /* light grey */
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
}

.Leadgeneration__info {
    display: flex;
    flex-direction: row;
}

.Leadgeneration__box-img {
    padding-bottom: 30px;
}

.Leadgeneration__box {
    display: flex;
    flex-direction: column;
    max-width: 801px;
}

.Leadgeneration__box-title {
    /* H1 */
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 114px;
    margin-bottom: 40px;
}

.Leadgeneration__box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 80px;
}

.Leadgeneration__box-text {
    /* H3 */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 40px;
}

.Leadgeneration__box-button {
    /* button */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    /* orange juice */
    background: rgb(255, 102, 0);
    padding: 20px 60px 20px 60px;
    border: none;
}

.Leadgeneration__img {
    border-radius: 30px;
    margin-left: 127px;
    margin-top: 60px;
}

.Leadgeneration__nav {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Leadgeneration__nav-link {
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    background: rgb(255, 255, 255);
    border-radius: 30px 30px 0px 0px;
    padding: 32px 13px 32px 14px;
    width: 280px;
    border: none;
}

.Leadgeneration__nav-link--big {
    padding: 20px 13px 20px 14px;
}

.purpose__title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 391px;
    margin-right: 392px;
}

.purpose__box-below {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.purpose__box {
    background: rgb(246, 246, 246);
    padding: 60px 412px 109px 40px;
    background-image: url(img/Graphics.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 512px;
    border-radius: 30px;

}

.man {
    background-image: url(img/Graphics\ \(1\).svg);
}

.cart {
    background-image: url(img/Graphics\ \(2\).svg);
}

.laptop {
    background-image: url(img/Graphics\ \(3\).svg);
}

.purpose__box-title {
    /* H3 */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
}

.purpose__box-text {
    /* txt */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.price__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.price__title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    inline-size: 40%;
    padding-bottom: 20px;
}

.price__text {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
    inline-size: 45%;
}

.price__box {
    border-radius: 30px;
    background: rgb(246, 246, 246);
    max-width: 580px;
    height: 813px;
}

.price__content {
    display: flex;
}

.price__box-name {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 152px;
    padding-bottom: 40px;
}

.price__box-mini {
    display: flex;
    gap: 20px;
}

.price__box-set {
    /* H3 */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 10px 20px 10px 20px;
}

.price__box-price {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

.price__box-text {
    /* txt */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 30px;
}

.price__box-unit--text {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
}

.price__box-button {
    /* button */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(255, 102, 0);
    padding: 20px 198px 20px 198px;
    margin-top: 204px;
    border: none;
}

.dark {
    background: rgb(45, 45, 45);
}

.dark__set {
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.dark__price {
    color: rgb(255, 255, 255)
}

.dark__unit-text {
    color: rgb(255, 255, 255)
}

.medium {
    margin-top: 97px;
}

.big {
    margin-top: 19px;
}

.additionally__title {
    /* H2 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 40px;
}

.additionally__box-mini {
    display: flex;
    flex-direction: row;
}

.additionally__box-price {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
}

.additionally__box-title {
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 307px;
}

.additionally__box-title--mini {
    margin-right: 108px;
}

.additionally__box-text {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.additionally__box-info {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background: rgb(246, 246, 246);
    padding: 40px;
}

.additionally__box-button {
    /* Button inter */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(255, 102, 0);
    padding: 20px 200px 20px 200px;
}

.additionally__box {
    display: flex;
    gap: 20px;
    padding-left: calc(30% - 400px);
    padding-right: calc(30% - 400px);
}

.customers {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers__title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    inline-size: 50%;
    margin: 0;
    padding-bottom: 20px;
}

.customers__text {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    inline-size: 40%;
    margin: 0;
    padding-bottom: 40px;
}

.customers__box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.customers__box-img {
    border-radius: 30px;
    background: rgb(246, 246, 246);
    padding: 64px 66px 65px 66px;
    max-width: 430px;
}

.img__big {
    padding: 75px 66px 75px 66px;
}

.score__box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.revievs__estimation-score {
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    padding-right: 26px;
}

.revievs__estimation-box {
    border-radius: 30px;
    background: rgb(246, 246, 246);
    padding: 40px;
    height: 636px;
}

.revievs__estimation-comment {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.revievs__estimation-text {
    /* txt */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.revievs__estimation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__title {
    /* H2 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 20px;
}

.revievs__text {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding-bottom: 38px;
    inline-size: 35%;
}

.revievs__estimation-video-reviev {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-top: 12px;
}

.revievs__estimation-video {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

.technology {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 120px;
    background-image: url(img/star-technology-1.svg), url(img/star-technology-2.svg);
    background-repeat: no-repeat no-repeat;
    background-position-x: 220px, 900px;
    background-position-y: 10px, 500px;
    padding-bottom: 70px;
}

.technology__box-mini {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 160px;
}

.technology__box-title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 300px;
    margin: 0;
    padding-bottom: 40px;
}

.technology__box-text {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    padding-right: 120px;
    padding-bottom: 20px;
    margin: 0;
    max-width: 700px;
}

.registration {
    margin-top: 50px;
}

.registration__box {
    border-radius: 40px;
    background: rgb(45, 45, 45);
    display: flex;
    flex-direction: row;
}

.registration__box-img {
    background-image: url(img/star-registrarion.svg);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 400px;
}

.registration__box-left {
    display: flex;
    flex-direction: column;
    padding: 102px 45px 101px 120px;
}

.registration__box-title {
    /* H2 */
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
}

.registration__box-button {
    /* button */
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(255, 102, 0);
    padding: 20px 60px 20px 60px;
    border: none;
}

.registration__box-img {
    border-radius: 40px;
    width: 801px;
    height: 535px;
    margin: 40px 53px 51px 50px;
}

.controls {
    margin-block-end: 20px;
}

.button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button-radio {
    background-color: transparent;
    margin: 0;
    padding: 0;
    inline-size: 20px;
    block-size: 20px;
    border-radius: 50px;
    background: rgb(219, 219, 219);
    border: none;
}

.button-radio+.button-radio {
    margin-inline-start: 12px;
}

.button-radio.active {
    background: rgb(255, 102, 0);
    pointer-events: none;
}

.button-radio:focus-visible {
    outline: 3px solid white;
    outline-offset: -1px;
}

.button-prev,
.button-next {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
    border: none;
    inline-size: 110px;
    block-size: 110px;
    background-color: transparent;
    background-image: url(./img/slider-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.button-prev[aria-disabled=true],
.button-next[aria-disabled=true] {
    opacity: 0.5;
    pointer-events: none;
}

.button-prev {
    inset-inline-start: -50px;
}

.button-next {
    inset-inline-end: -50px;
    transform: translateY(-50%) rotateY(180deg);
    transform-origin: center;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 80%;
    position: relative;
    border-radius: 40px;
    background: rgb(246, 246, 246);
    padding: 150px 150px 80px 150px;
    height: 628px;
}

.slides {
    /*     inline-size: 74%; */
    padding-bottom: 60px;
}

.slider__info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    display: none;
}

.slide--active {
    display: block;
}

.slide__info_text {
    padding-top: 32px;
    margin: 0px;
    color: rgb(26, 35, 110);
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.slide__info_name {
    padding-top: 32px;
    margin: 0px;
    color: rgb(26, 35, 110);
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.slide__info_job {
    padding-top: 4px;
    margin: 0px;
    color: rgba(26, 35, 110, 0.4);
    font-family: Roboto Condensed;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
}

.slider__box {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calc(20% - 300px);
    padding-right: calc(20% - 300px);
}

.radio__input {
    display: none;
}

.radio__label {
    color: rgb(255, 255, 255);
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 29px;
    font-size: 14px;
}

input[type=radio]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(252, 223, 0);
    border-radius: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type=radio]:checked+label::before {
    border: 1px solid rgb(252, 223, 0);
    background: rgb(252, 223, 0);
    background-image: url(img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000;
}

.slider__info-title {
    /* H2 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 86px;
}

.slider__info-number {
    /* H1 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 30px;
}

.slider__info-text {
    /* H2 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.slider__info-text--right {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
}

.slider__info-below {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 91px;
}

.slider__info-left--mini {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__box {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.presentation__box-title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
}

.why__title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    inline-size: 35%;
    margin: 0;
    padding-bottom: 20px;
}

.why__text {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    inline-size: 39%;
    margin: 0;
    padding-bottom: 20px;
}

.why__box-mini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.why__box-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.why__box-info {
    border-radius: 40px;
    background: rgb(246, 246, 246);
}

.why__box-mini {
    padding: 40px 40px 12px 40px;
}

.why__box-number {
    /* H1 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.why__box-text {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    max-width: 500px;
}

.why__box-bottom--bellow {
    border-radius: 40px;
    background: rgb(246, 246, 246);
}

.why__box-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.why__box-bottom--text {
    /* txt */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 280px;
    margin: 0;
}

.result {
    margin-top: 120px;
}

.result__box-big {
    border-radius: 40px;
    background: rgb(45, 45, 45);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 172px 60px 142px;
    gap: 43px;
}

.result__img {
    background-image: url(img/Star\ 4\ \(2\).svg), url(img/Star\ 3\ \(2\).svg);
    background-repeat: no-repeat no-repeat;
    background-position-x: 10px, 550px;
    background-position-y: 10px, 300px;
}

.result__box {
    display: flex;
    flex-direction: column;

}

.result__box-text {
    /* H2 */
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
}

.result__box-button {
    /* Button inter */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(255, 102, 0);
    padding: 20px 60px 20px 60px;
    border: none;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.questions__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.questions__title {
    /* H2 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 40px;
}

.questions__box-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions__box-mini {
    box-sizing: border-box;
    border: 3px solid rgb(128, 128, 128);
    border-radius: 30px;
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    cursor: pointer;
    padding: 40px;
    transition-duration: 0.5s;
}

.questions__box-mini:hover {
    box-sizing: border-box;
    border: 3px solid rgb(255, 102, 0);
    border-radius: 30px;
    background: rgb(246, 246, 246);
}

.questions__box-mini--text {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.questions__box-mini--button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.questions__box-big {
    border-radius: 40px;
    background: rgb(246, 246, 246);
    padding: 40px;
}

.questions__box-big--text {
    /* txt */
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.hidden {
    display: none;
}

.marketing {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-left: calc(35% - 400px);
    padding-right: calc(35% - 400px);
    gap: 60px;
    margin-top: 125px;

}

.marketing__left {
    display: flex;
    flex-direction: column;
}

.marketing__left-title {
    /* H2 */
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 50px;
}

.color__text {
    color: rgb(255, 102, 0);
}

.marketing__left-button {
    /* Button inter */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(255, 102, 0);
    padding: 20px 60px 20px 60px;
}

.marketing__right {
    inline-size: 90%;
    background-image: url(img/Star\ 5\ \(2\).svg);
    background-repeat: no-repeat;
    background-position-x: 710px;
    background-position-y: 20px;
    padding-right: 90px;
}

.marketing__right-text {
    /* txt */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.marketing__right-button {
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hidden__box {
    display: none;
}

.contacts {
    margin-top: 120px;
}

.contacts__top-title {
    /* H2 */
    color: rgb(45, 45, 45);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
}

.contacts__top-text {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
}

.contacts__bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__bottom-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts__bottom-text {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.contacts__bottom-box--fat {
    /* H3 */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.contacts__bottom-write {
    /* H3 */
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    inline-size: 70%;
    margin: 0;
}

.contacts__left {
    display: flex;
    flex-direction: column;
    padding: 80px 60px 80px 80px;
}

.contacts__box {
    display: flex;
    flex-direction: row;
    border-radius: 60px;
    background: rgb(246, 246, 246);
}

.contacts__img {
    border-radius: 60px;
}

.contacts__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__bottom-img--box {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(45, 45, 45);
    border-radius: 40px 40px 0px 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 120px;
}

.footer__text {
    /* H3 */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.footer__box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__box-info {
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}